@model List<EducationLife>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th> Bölüm</th>
        <th> Okul</th>
        <th> AGNO</th>
        <th> Tarih</th>
        <th> Güncelle</th>




    </tr>

    @foreach (var education in Model)
    {
<tr>
    <th>@education.EducationId</th>
    <th>@education.SubTitle</th>
    <td>@education.Title</td>

    <th>@education.NoteAverage</th>
    <td>@education.Date</td>


    <td><a href="/AdminEducation/EducationUpdate/@education.EducationId" class="btn btn-outline-warning"><b>Güncelle</b></a></td>



</tr>
    }

</table>
<br />
<a href="/AdminEducation/AddEducation" class="btn btn-outline-dark"> <b>Egitim Ekle</b></a>
<br />

