@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="resume-section" id="about">
    <div class="resume-section-content">

        @foreach (var item in Model)
        {




            <h1 class="mb-0">
                @item.Name
                <span class="text-primary">@item.SurName</span>
            </h1>
            <div class="subheading mb-5">
                @item.Adress, · @item.TelephoneNumber ·
                <a href="mailto:name@email.com">@item.Mail </a>
            </div>
            <p class="lead mb-5">@item.DipNot</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/mine-topcuoglu-869a45218/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/minetpcuglu"><i class="fab fa-github"></i></a>

                <a class="social-icon" href="https://www.instagram.com/topcuoglumine/"><i class="fab fa-instagram"></i></a>
            </div>
        }
    </div>
</section>